{% include'ahead.html' %}
<div class="container">
    <div class="card-2">
        <form action="change_password2_action" method="post">
            <input type="hidden" name="employee_id" value="{{employee_id}}">
            <div class="card-group-1">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-input-1"   name="password"placeholder="enter password">
            </div>
            <div class="card-group-1">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="confirm_password" class="form-input-1"   name="confirm_password" placeholder="enter confirm password">
            </div>
            <div>
                <input type="submit" class="card-input-1" value="update">
            </div>
        </form>
    </div>
</div>