
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payroll Management</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<nav class="card-nav-1">
<div class="card-title"><span class="card-title-first-letter">P</span>ayroll Management</div>
    <div class="card-head-1">
        <a class="card-text-1" href="/employee_home">Home</a>
        <a class="card-text-1" href="/leaves"> Apply Leave</a>
        <a class="card-text-3" href="/paychecks?employee_id={{session['employee_id']}}">Pay checks</a>
        <a class="card-text-3" href="/transactions">Transactions</a>
        <a class="card-text-5" href="/logout">Logout</a>
    </div>
</nav>


