<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary Management</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<nav class="card-nav">
    <div class="card-title"><span class="card-title-first-letter">P</span>ayroll Management</div>
    <div class="card-head">
        <a class="card-text-1" href="/admin_login">Admin</a>
        <a class="card-text-2" href="/supervisor_login">Supervisor</a>
        <a class="card-text-3" href="/employee_login">Employee</a>
    </div>
</nav>



